*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

.nav-bar{
    background-color: #1B4436;
    height: 50px;
}

.nav-bar > ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0 80px;
}

.nav-bar-link{
    text-decoration: none;
    line-height: 50px;
    list-style-type: none;
    color: #FFFFFF;
    cursor: pointer;
}

.fazenda-background {
    background-image: url('../image/banner.png');
    height: 400px;
    width: 100%;
}

.fazenda-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 64px;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 400px;
}

.fazenda-heading {
    background-color: #225243CC;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 12px 40px;
    margin-bottom: 40px;
}

main {
    margin: 40px 80px;
}

.card-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    border: 1px solid red;
    width: 384px;
}

.card-heading{
    height: 248px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 20px 20px 0 0;
    letter-spacing: .2rem;
}

.card-paragraph {
    display: flex;
    justify-content: center;
    line-height: 1.4rem;
    padding: 12px;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: #50AA5A;
  border-radius: 0 0 20px 20px;
  overflow: hidden; /* ESSENCIAL para esconder o ::before fora do hover */
}

.card-link a {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: color 300ms ease;
}

.card-link a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  transition: left 500ms ease-out;
  border: 1px solid #50AA5A;
  border-radius: 0 0 20px 20px;
  z-index: -1;
}

.card-link a:hover::before {
  left: 0;
}

.card-link a:hover {
  color: #50AA5A;
}
